@primary-color: rgb(13, 50, 110);
@secondary-color: rgb(108, 127, 152);
@tertiary-color  :rgb(105, 176, 225);
.primary-color {
  color: @primary-color !important;
}

.secondary-color {
  color: @secondary-color !important;
}
.tertiary-color {
  color: @tertiary-color !important;

}
