@import "color";
@import "text";
@import "components/header";


body {
  font-size: 16px;
  background: white;
  font-family: @primary-font;
}

a {
  text-decoration: none !important; /* overwrite bootstrap*/
}

.cursor {
  cursor: pointer;
}

h3,h4,h5 {
  font-weight: 600;
  color: #464E5B;
  font-size: 16px
}
p, label, span {
    font-size: 14px;
    font-weight: lighter;
  }
