.primary-color {
  color: #0d326e !important;
}
.secondary-color {
  color: #6c7f98 !important;
}
.tertiary-color {
  color: #69b0e1 !important;
}
.navbar {
  background: #e1eff9;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}
.navbar .navbar-brand {
  max-width: 150px;
  transform: translate(0px, 4px);
  transition: max-width 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.navbar .navbar-brand svg {
  width: 100%;
}
.navbar a {
  color: lightgray;
  font-weight: 500;
  font-size: 15px;
}
.navbar .btn-link {
  color: #69b0e1 !important;
}
body {
  font-size: 16px;
  background: white;
  font-family: 'Josefin Sans', sans-serif;
}
a {
  text-decoration: none !important;
  /* overwrite bootstrap*/
}
.cursor {
  cursor: pointer;
}
h3,
h4,
h5 {
  font-weight: 600;
  color: #464E5B;
  font-size: 16px;
}
p,
label,
span {
  font-size: 14px;
  font-weight: lighter;
}
/*# sourceMappingURL=main.css.map */