<template>
  <section>
    <validation-observer v-slot="{ passes }">
      <form @submit.prevent="passes(submitForm)">
        <div class="pl-5 ml-2">
          <hr />
          <div class="form-group">
            <h3>Query Details</h3>
            <hr />
            <div class="row">
              <div class="col-5">
                First name*
              </div>
              <div class="col-5">
                <validation-provider
                  name="first name"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    v-model="query.first_name"
                    type="text"
                    placeholder="First name"
                    class="form-control"
                  />
                  <span class="text-danger">{{ errors[0] }}</span>
                </validation-provider>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-5">
                Surname*
              </div>
              <div class="col-5">
                <validation-provider
                  name="surname"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <input
                    name="surname"
                    v-model="query.last_name"
                    placeholder="Surname"
                    type="text"
                    class="form-control"
                  />
                  <span class="text-danger">{{ errors[0] }}</span>
                </validation-provider>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-5">
                Email*
              </div>
              <div class="col-5">
                <validation-provider
                  name="email"
                  rules="required|email"
                  v-slot="{ errors }"
                >
                  <input
                    placeholder="Email"
                    v-model="query.email"
                    type="email"
                    class="form-control"
                  />
                  <span class="text-danger">{{ errors[0] }}</span>
                </validation-provider>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-5">
                Custom Query
              </div>
              <div class="col-5">
                <textarea
                  v-model="query.custom_query"
                  type="text"
                  rows="4"
                  placeholder="Custom Query"
                  class="form-control"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <div class="float-right mb-2">
              <router-link to="/" class="btn btn-default">
                Cancel
              </router-link>
              <button class="btn btn-danger" type="submit">
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </validation-observer>
  </section>
</template>
<script>
export default {
  data() {
    return {
      query: {}
    };
  },
  methods: {
    submitForm() {
      this.$emit("submitForm", this.query);
    }
  }
};
</script>
