.navbar {
  background: rgb(225, 239, 249);
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  .navbar-brand {
    max-width: 150px;
    transform: translate(0px, 4px);
    transition: max-width 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;

    & svg {
      width: 100%;
    }
  }

  a {
    color: lightgray;
    font-weight: 500;
    font-size: 15px;
  }
    & .btn-link {
    color:@tertiary-color !important;
  }
}
