<template>
  <section>
    <div class="card-body">
      <h5 class="card-title primary-color">{{ firstName }} {{ lastName }}</h5>
      <h6 class="card-subtitle mb-2 tertiary-color">{{ email }}</h6>
      <p class="card-text secondary-color">
        {{ query }}
      </p>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    firstName: {
      required: true,
      type: String
    },
    lastName: {
      required: true,
      type: String
    },
    email: {
      required: true,
      type: String
    },
    query: {
      required: false,
      type: String
    }
  }
};
</script>
