<template>
  <section>
    <div class="row mb-5">
      <div class="col">
        <div class="form_container">
          <Form @submitForm="saveData" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Form from "@/components/form";
export default {
  components: { Form },
  data() {
    return {};
  },
  methods: {
    saveData(query) {
      this.$store.dispatch("saveData", query);
    }
  }
};
</script>

<style lang="less">
.form_container {
  margin-top: 1rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  color: black;
  /*-moz-box-shadow: 0 0 3px #ccc;*/
  /*-webkit-box-shadow: 0 0 3px #ccc;*/
  /*box-shadow: 0 0 55px #ccc;*/

  & .vdp-datepicker input[readonly] {
    background: transparent;
  }
}

.cursor {
  cursor: pointer;
}

.error_text {
  color: lightgray;
  font-weight: 500;
  font-size: 12px;
}
</style>
