<template>
  <section>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mb-3 primary-color font-weight-bold">
          Summaries
        </h1>
      </div>
      <ul class="list-group m-auto col-6">
        <li
          class="list-group-item"
          v-for="(request, index) in requests"
          :key="index"
        >
          <Summary
            :firstName="request.first_name"
            :lastName="request.last_name"
            :email="request.email"
            :query="request.custom_query"
          />
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src
import Summary from "@/components/summary";
export default {
  components: { Summary },
  beforeMount() {
    if (!this.requests.length) {
      // check if there are requests if not redirect to form
      return this.$router.push("/add-query");
    }
  },
  computed: {
    requests() {
      return this.$store.getters.getRequests;
    }
  }
};
</script>
