<template>
  <section>
    <nav class="navbar">
      <nav class="my-2 my-md-0 mr-auto pl-5">
        <router-link
          class="navbar-brand primary-color font-weight-bold "
          to="/"
        >
          <svg viewBox="0 0 154 24.25">
            <path
              d="M76.49 19.07a2.59 2.59 0 1 1-2.59 2.59 2.61 2.61 0 0 1 2.59-2.59"
              fill="#69b0e1"
            ></path>
            <path
              d="M11 3.08a10.89 10.89 0 0 1 8.3 3.82l-3.05 2.62A7 7 0 0 0 11 7.2a6.38 6.38 0 0 0-6.51 6.48A6.35 6.35 0 0 0 11 20.12a7 7 0 0 0 5.24-2.35l3.09 2.62A10.89 10.89 0 0 1 11 24.25c-6 0-11-4.45-11-10.57s5-10.6 11-10.6M20.74 3.08h4.46v15.19c0 1.37.51 1.94 1.73 1.94a4.42 4.42 0 0 0 1.07-.12V24a9.75 9.75 0 0 1-2.13.21c-2.12 0-5.14-.66-5.14-5.29zM28.42 16.33c0-4.81 3.47-7.89 8.16-7.89a7.45 7.45 0 0 1 7.74 7.65s0 .74-.06 1.43H32.88c.09 1.79 1.64 3 4 3A4.94 4.94 0 0 0 40.56 19l2.6 2.49a8.58 8.58 0 0 1-6.49 2.74c-4.9 0-8.25-3.07-8.25-7.79zm11.42-1.71c0-1.37-1.46-2.51-3.26-2.51s-3.52 1.11-3.64 2.51zM52.91 8.62c2.3 0 4.06.92 4.48 2.24v-2h4.45v9.77c0 1.22.33 1.67 1.11 1.67a6.32 6.32 0 0 0 .75-.06V24a7.52 7.52 0 0 1-2 .24 5.06 5.06 0 0 1-2.45-.54 3 3 0 0 1-1.34-1.62c-.87 1.29-2.36 2.19-5 2.19a7.52 7.52 0 0 1-7.47-7.83 7.52 7.52 0 0 1 7.47-7.8m.8 11.56a3.77 3.77 0 1 0 0-7.53 3.77 3.77 0 1 0 0 7.53M65.06 8.89h4.45v2a4.48 4.48 0 0 1 4.36-2.39 10.37 10.37 0 0 1 1.17.09v4.21a7.23 7.23 0 0 0-1.5-.15c-2.54 0-4 1.46-4 3.92v7.35h-4.47zM82.35 3.09h8.27c3.32 0 5.95 2.24 5.95 5.32a4.19 4.19 0 0 1-2.66 4.18 4.9 4.9 0 0 1 4.19 5.17 6.08 6.08 0 0 1-6.34 6.16h-9.41zm7.53 8.31a2.15 2.15 0 0 0 2.24-2.22A2.12 2.12 0 0 0 89.91 7h-3v4.4zm1 8.54a2.55 2.55 0 0 0 2.69-2.54A2.5 2.5 0 0 0 90.8 15h-3.94v5zM106.79 8.62c2.3 0 4.06.92 4.48 2.24v-2h4.45v9.77c0 1.22.33 1.67 1.11 1.67a6.32 6.32 0 0 0 .75-.06V24a7.52 7.52 0 0 1-2 .24 5.06 5.06 0 0 1-2.45-.54 3 3 0 0 1-1.34-1.62c-.87 1.29-2.36 2.19-5 2.19a7.53 7.53 0 0 1-7.47-7.83 7.53 7.53 0 0 1 7.47-7.8m.81 11.56a3.77 3.77 0 1 0 0-7.53 3.77 3.77 0 1 0 0 7.53M119 8.89h4.45v1.85a4.62 4.62 0 0 1 4.33-2.21c3.68 0 5.71 2.36 5.71 6.24v3.8c0 1.1.21 1.58 1 1.58h.48v3.77a6.51 6.51 0 0 1-1.95.21c-2.39 0-4-1.14-4-4.31v-4.51a2.53 2.53 0 0 0-2.69-2.84 2.84 2.84 0 0 0-2.9 3v8.46H119zM136.4 3.09h4.45v11.5l4.92-5.7h5.17l-5.97 6.78 6.52 8.25h-5.02l-4.37-5.56-1.25 1.34v4.22h-4.45V3.09zM147.86 3.09A3.08 3.08 0 0 1 150.94 0 3 3 0 0 1 154 3.05a3.08 3.08 0 0 1-3.08 3.07 3 3 0 0 1-3.06-3m5.78 0a2.67 2.67 0 0 0-2.7-2.71 2.7 2.7 0 0 0-2.72 2.73 2.67 2.67 0 0 0 2.7 2.71 2.7 2.7 0 0 0 2.72-2.73m-4-1.72h1.45a1.38 1.38 0 0 1 1 .36 1 1 0 0 1 .27.71 1 1 0 0 1-.71 1l.8 1.18h-.84L151 3.56h-.57v1.06h-.72zm1.44 1.59c.36 0 .56-.19.56-.46 0-.31-.22-.47-.58-.47h-.7v1z"
              fill="#0d326e"
            ></path>
          </svg>
        </router-link>
      </nav>
      <nav class="my-2 my-md-0 mr-md-3 pr-5">
        <b-dropdown
          id="dropdown-1"
          variant="link"
          text="Hello"
          class="m-md-2 tertiary-color"
        >
          <b-dropdown-item to="/add-query">
            Create new query
          </b-dropdown-item>
        </b-dropdown>
      </nav>
    </nav>
  </section>
</template>
<script>
import { BDropdown } from "bootstrap-vue";

export default {
  components: { BDropdown }
};
</script>
